<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="./js/vue.min.js"></script>
<body>
<div id="vue">
    <h1>{{message}}</h1>
    <!-- 音频输入设备列表 -->
    <select name="handleAudioDeviceChange" v-on:change="handleAudioDeviceChange">
        <option v-for="(item,index) in state.audioDevices" :key="index" :value="item.deviceId">{{item.label}}</option>
    </select>
    <!-- 音频输出设备列表 -->
    <select name="handleAudioOutputDeviceChange" v-on:change="handleAudioOutputDeviceChange">
        <option v-for="(item, index) in state.audioOutputDevices" :key="index" :value="item.deviceId">{{item.label}}
        </option>
    </select>
    <select v-on:change="handleVideoDeviceChange">
        <option v-for="(item, index) in state.videoDevices" :key="index" :value="item.deviceId">{{item.label}}</option>
    </select>
    <video ref="myVideo" autoplay playsinline></video>
    <button v-on:click="startTest">测试</button>
</div>
</body>

<style>
    select {
        width: 150px;
        margin-right: 10px;
    }

    video {
        object-fit: contain;
        margin-top: 10px;
    }
</style>
<script>

    new Vue({
        el: '#vue',
        data: function () {
            return {
                message: '设备枚举',
                myVideo: null,
                state: {
                    //当前选择的音频输入设备
                    selectedAudioDevice: "",
                    //当前选择的音频输出设备
                    selectedAudioOutputDevice: "",
                    //当前选择的视频输入设备
                    selectedVideoDevice: "",
                    //视频输入设备列表
                    videoDevices: [],
                    //音频输入设备列表
                    audioDevices: [],
                    //音频输出设备列表
                    audioOutputDevices: [],
                }
            }

        },
        mounted: function () {
            this.$nextTick(e => {
                this.myVideo = this.$refs.myVideo;
                //更新设备列表
                this.updateDevices().then((data) => {
                    //判断当前选择的音频输入设备是否为空并且是否有设备
                    if (this.state.selectedAudioDevice === "" && data.audioDevices.length > 0) {
                        //默认选中第一个设备
                        this.state.selectedAudioDevice = data.audioDevices[2].deviceId;

                    }
                    //判断当前选择的音频输出设备是否为空并且是否有设备
                    if (this.state.selectedAudioOutputDevice === "" && data.audioOutputDevices.length > 0) {

                        //默认选中第一个设备
                        this.state.selectedAudioOutputDevice = data.audioOutputDevices[0].deviceId;

                    }
                    //判断当前选择的视频输入设备是否为空并且是否有设备
                    if (this.state.selectedVideoDevice === "" && data.videoDevices.length > 0) {
                        //默认选中第一个设备
                        this.state.selectedVideoDevice = data.videoDevices[0].deviceId;
                    }
                    //设置当前设备Id
                    this.state.videoDevices = data.videoDevices;
                    this.state.audioDevices = data.audioDevices;
                    this.state.audioOutputDevices = data.audioOutputDevices;
                });
            })
        },
        methods: {
            //更新设备列表
            updateDevices() {
                return new Promise((pResolve, pReject) => {
                    //视频输入设备列表
                    let videoDevices = [];
                    //音频输入设备列表
                    let audioDevices = [];
                    //音频输出设备列表
                    let audioOutputDevices = [];
                    //枚举所有设备
                    navigator.mediaDevices.enumerateDevices()
                        //返回设备列表
                        .then((devices) => {
                            //使用循环迭代设备列表
                            for (let device of devices) {
                                //过滤出视频输入设备
                                if (device.kind === 'videoinput') {
                                    videoDevices.push(device);
                                    //过滤出音频输入设备
                                } else if (device.kind === 'audioinput') {
                                    audioDevices.push(device);
                                    //过滤出音频输出设备
                                } else if (device.kind === 'audiooutput') {
                                    audioOutputDevices.push(device);
                                }
                            }
                        }).then(() => {
                        //处理好后将三种设备数据返回
                        let data = {videoDevices, audioDevices, audioOutputDevices};
                        pResolve(data);
                    });
                });
            },
            //音频输入设备改变
            handleAudioDeviceChange(e) {
                console.log('选择的音频输入设备为: ' + JSON.stringify(e));
                let event = JSON.stringify(e);
                var v = document.getElementsByName("handleAudioDeviceChange")[0].value
                this.state.selectedAudioDevice = e;
                setTimeout(this.startTest, 100);
            }
            ,
            //音频输出设备改变
            handleAudioOutputDeviceChange(e) {
                console.log('选择的音频输出设备为: ' + JSON.stringify(e));
                let event = JSON.stringify(e);
                var v = document.getElementsByName("handleAudioOutputDeviceChange")[0].value
                this.state.selectedAudioOutputDevice = v;
                if (typeof this.myVideo.sinkId !== 'undefined') {
                    //调用HTMLMediaElement的setSinkId方法改变输出源
                    this.myVideo.setSinkId(e)
                        .then(() => {
                            console.log(`音频输出设备设置成功: ${sinkId}`);
                        })
                        .catch(error => {
                            if (error.name === 'SecurityError') {
                                console.log(`你需要使用HTTPS来选择输出设备: ${error}`);
                            }
                        });
                } else {
                    console.warn('你的浏览器不支持输出设备选择.');
                }
            }
            ,
            //视频输入设备改变
            handleVideoDeviceChange(e) {
                console.log('选择的视频输入设备为: ' + JSON.stringify(e));
                this.state.selectedVideoDevice = e;
                setTimeout(this.startTest, 100);
            }
            ,
            startTest() {
                //获取音频输入设备Id
                let audioSource = this.state.selectedAudioDevice;
                //获取视频频输入设备Id
                let videoSource = this.state.selectedVideoDevice;
                //定义约束条件
                let constraints = {
                    //设置音频设备Id
                    audio: {deviceId: audioSource ? {exact: audioSource} : undefined},
                    //设置视频设备Id
                    video: {deviceId: videoSource ? {exact: videoSource} : undefined}
                };
                //根据约束条件获取数据流
                navigator.mediaDevices.getUserMedia(constraints)
                    .then((stream) => {
                        //成功返回音视频流
                        window.stream = stream;
                        this.myVideo.srcObject = stream;
                    }).catch((err) => {
                    alert(err.toString());
                });
            }

        }
    })


</script>
</html>
